body{
  margin: 0;
  text-align:center;
  font-family: "Merriweather", sans-serif ;
}

.top-container{
  position: relative;
  background-color: #54BAB9;
  padding-top: 100px;
}
hr{
margin-top: 40px;
margin-bottom: 40px;
 border-style:dotted none none;
 height: 0;
 border-color: grey;
 border-width: 15px;
 width: 10%;
}
h1{
  margin-top: 0;
  font-family: "Sacramento", sans-serif; font-size: 50px;
}
h2{
  font-family: "Monstserrat";
}
h3{
  font-family: "Montserrat", sans-serif;
}

.skill-row2{
  background-color: #54BAB9;
  padding-bottom: 10px;
  padding-top: 10px;
}
.skill-row4{
  background-color: #54BAB9;
  padding-bottom: 10px;
  padding-top: 10px;
}

.cloud2{
  position: absolute;
  bottom: 300px;
}
.cloud1{
  position: absolute;
  top: 50px;
  right:30%;
}
.profile{
  background-color: #18978F;
  padding-bottom: 10px;
  padding-top: 10px;
}
.date{
  background-color: #54BAB9;
  padding-bottom: 10px;
  padding-top: 10px;
}
.main{
  position:relative;
  height: 1000px;
  width:100%
}
.p1{
  height: 200px;
  width: 20%;
  background-color: #18978F;
  position: absolute;
  left: 0;
}
.p2{
  height: 200px;
  width: 20%;
  background-color: #54BAB9;
  position: absolute;
  left: 20%;
  top:200px;
}
.p3{
  height: 200px;
  width: 20%;
  background-color:#18978F ;
  position: absolute;
  left: 40%;
  top:400px;
}
.p4{
  height:200px;
  width: 20%;
  background-color: #54BAB9;
  position: absolute;
  left: 60%;
  top:600px;
}
.p5{
  height: 200px;
  width: 20%;
  background-color:#18978F ;
  position: absolute;
  left:80%;
  top:800px;
}
.p6{
  background-color:#54BAB9;
  position: absolute;
  right:0;
  top:0;
  height:400px;
  width: 40%;
}
.contact-me{
  position: absolute;
  bottom:0;
  left: 0;
  width:40%;
  height: 400px;
  background-color:#54BAB9;

}
